{% extends 'base.html' %} 
{%block title %} Jail Management System {%endblock%} 
{%block css%}
  {{url_for('static', filename='style.css')}}
{%endblock%}
{%block admin%}
  {{url_for('static', filename='admin.css')}}
{%endblock%}
{%block content%}
<nav class="nav">
  <a href=""><img src="" alt="">Jail Management</a>
  <ul class="nav-ul">
    <li><a class="nav-a" href="{{url_for('home')}}">Home</a></li>
    <li><a class="nav-a" href="{{url_for('login')}}">Login</a></li>
  </ul>
</nav>
<section class="section-admin">
  <form class="admin-main" method="POST" action="/admin"> 
    <h1 class="admin-failed">{{failed}}</h1>
    <h1>Email</h1>
    <input class="admin-input" required placeholder="EMAIL" name="email" type="text">
    <h1>Password</h1>
    <input class="admin-input" required placeholder="PASSWORD" name="password" type="password">
    <input class="admin-btn" value="Submit" type="submit">
  </form>
</section>
{%endblock%}