<form class="search-form" action="{%block path%}  {%endblock%}" method="POST">
  {% if info == "prisoner" %}
  <input
    class="search-input"
    type="text"
    name="cell"
    placeholder="Search By Cell..."
  />
  {% else %}
  <input
    class="search-input"
    type="text"
    name="email"
    placeholder="Search By Email..."
  />
  {% endif %}
  <input name="btn"class="search-btn" type="submit" value="🍳" />
</form>
{% if info == "prisoner" %}
<div class="prisoner-main">
{% else %}
<div class="staff-main">
{% endif %}
  {% if info == "prisoner" %}
  <h1 class="staff-title">Id</h1>
  <h1 class="staff-title">Name</h1>
  <h1 class="staff-title">Age</h1>
  <h1 class="staff-title">Birth</h1>
  <h1 class="staff-title">Record</h1>
  <h1 class="staff-title">Cell</h1>
  <h1 class="staff-title">Year</h1>
  <h1></h1>
  {% else %}
  <h1 class="staff-title">Id</h1>
  <h1 class="staff-title">Name</h1>
  <h1 class="staff-title">Role</h1>
  <h1 class="staff-title">Email</h1>
  <h1></h1>
  {% endif %}
  <!-- <h1 class="staff-title">Password</h1> -->
  {% if info == "prisoner" %}
  {% for user in user %}
  <p class="staff-details">{{ user[0] }}</p>
  <p class="staff-details">{{ user[1] }}</p>
  <p class="staff-details">{{ user[2] }}</p>
  <p class="staff-details">{{ user[3] }}</p>
  <p class="staff-details">{{ user[4] }}</p>
  <p class="staff-details">{{ user[5] }}</p>
  <p class="staff-details">{{ user[6] }}</p>
  <button onclick="editPrisoner('{{ user[0] }}', '{{ user[1] }}', '{{ user[2] }}', '{{ user[3] }}','{{ user[4] }}','{{ user[5] }}','{{ user[6] }}')" class="staff-btn">Edit</button>
  <!-- <p class="staff-details {% if loop.index <= loop.index %} last-four{% endif %} ">{{ user[4] }}</p> -->
  {% endfor %}
  {% else %}
  {% for user in user %}
  <p class="staff-details">{{ user[0] }}</p>
  <p class="staff-details">{{ user[1] }}</p>
  <p class="staff-details">{{ user[2] }}</p>
  <p class="staff-details">{{ user[3] }}</p>
  <button onclick="editUser('{{ user[0] }}', '{{ user[1] }}', '{{ user[2] }}', '{{ user[3] }}')" class="staff-btn">Edit</button>
  {% endfor %}
  {% endif %}
</div>