{% extends 'base.html' %} {%block title %} Jail Management System {%endblock%}
{%block css%} {{url_for('static', filename='style.css')}} {%endblock%} {%block
adminDash%} {{url_for('static', filename='search.css')}} {%endblock%} {%block
content%}
<nav class="nav">
  <a class="" href=""><img src="" alt="" />Jail Management</a>
  <ul class="nav-ul">
    <form class="search-form" action="{{ url_for('search') }}" method="POST">
      <input
        class="search-input"
        type="text"
        name="query"
        placeholder="Search..."
      />
      <input class="search-btn" type="submit" value="🍳" />
    </form>
    <li><a class="nav-a" href="{{url_for('adminDash')}}">Dashboard</a></li>
    <li><a class="nav-a" href="{{url_for('home')}}">Logout</a></li>
  </ul>
</nav>
<div>
  <ul class="search-staff">
    {% for user in results %}
    <li class="search-list">{{ user.id }}</li>
    <li class="search-list">{{ user.name }}</li>
    <li class="search-list">{{ user.role }}</li>
    <li class="search-list">{{ user.email }}</li>
    <li class="search-list">{{ user.password }}</li>
    {% endfor %}
  </ul>
  <ul class="search-prisoner">
    {% for user in prisoner_results %}
    <li class="search-list">{{ user.id }}</li>
    <li class="search-list">{{ user.name }}</li>
    <li class="search-list">{{ user.age}}</li>
    <li class="search-list">{{ user.birth }}</li>
    <li class="search-list">{{ user.record }}</li>
    <li class="search-list">{{ user.year }}</li>
    {% endfor %}
  </ul>
</div>

{%endblock%}
